.home-container {
  font-family: sans-serif;
}

.home-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.activity-section,
.analytics-section {
  width: 48%;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
}

.analytics-overview {
  display: flex;
  justify-content: space-between;
}

.metric {
  background: white;
  padding: 10px;
  border-radius: 6px;
  width: 30%;
  text-align: center;
}
.analytics-calendar-section {
  width: 48%;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
}

.analytics-calendar-section h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border-radius: 8px;
  padding: 10px;
  font-family: sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

