.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e1e2f;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #1e1e2f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #33334d;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
}

.signup-text a {
  color: #1e1e2f;
  text-decoration: none;
  font-weight: bold;
}


.login-navbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.home-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #1e1e2f;
}

.home-link:hover {
  color: #33334d;
}